@import 'variables';

@import 'components/all';

html, body, #root {
  height: 100%;
  width: 100%;
}

html {
  display: flex;
  justify-content: center;
}

body {
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
}

a {
  text-decoration: none;
}

#root {
  flex: 1;
  display: flex;
  justify-content: center;
}

.mainView {
  width: 100%;
}

.channelItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
