//
// Stylesheet root file.
//

// Settings
@import 'settings';

// Other styles
@import './components/index';

#app {
    position: relative;

    h1 {
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 4.5em;
        font-style: italic;
        font-weight: 100;

        margin: 0.2em 0;
    }

    span {
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-style: italic;
        font-weight: 300;

        &.smalltext {
            font-size: 0.7em;
            color: darkgray;
        }
    }

    label {
        color: white;
    }

    h2 {
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 3em;
        font-style: italic;
        font-weight: 200;

        margin: 0.2em 0;
    }

    h3 {
        font-family: 'Lato', sans-serif;
        color: salmon;
        font-size: 2em;
        font-weight: 200;

        margin: 0.2em 0;
    }

    a {
        text-decoration: underline;
        font-style: normal;
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-weight: 300;
        cursor: pointer;

        &:hover {
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s all;
            color: #c9c9c9;
        }
    }

    .break {
        height: 1px;
        width: 100%;
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, black 0%, white 100%);
    }
}

html,
body,
#app {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
}

textarea,
input.text,
input[type='text'],
input[type='button'],
input[type='submit'],
.input-checkbox {
    -webkit-appearance: none;
}
