//
// Define variables, mixins
//
// Font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');
// MaterialUI Icons
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
// MaterialUI Icons
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
// Normalize.css
@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
// Color
$black: #000;
$white: #fff;
$red: red;
$light-gray: rgb(201, 197, 197);
$gray: #707070;
$darkBG: #e8e8e8;
$lightBG: #fafafa;
$h1: #016380;
$blue: #009cb5;
$blue60: #009cb599;
