.button {
    padding: 0 2em;
    border-radius: 4px;
    margin: 0;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    &:focus {
        outline: none;
    }

    &-normal {
        background-color: transparent;
        color: white;
    }

    &-slick {
        height: 2.3em;
        padding: 0 1.15em;
        font-size: 0.88em;
    }
}
